<p>Thanks!</p>
<p>Article is published!</p>

<!--<a href="/articles">Back to All articles</a>-->
<!--как выше сделана ссылка делать не надо (так как это hardcode)
правильно делать так: -->
<%= link_to  'Back to All articles', articles_path%>