<h1>All Available Articles</h1>

<p>
        <%= button_to "Create new article", new_article_path, method: :get, class: 'btn btn-primary', id: 'createArticleButton'%>
<% unless current_user %>
        <p style="color: #B00100">Sign in to post articles</p>
        <script type="text/javascript"> document.getElementById('createArticleButton').disabled = true </script>
<% end %>
</p>

<p>
        <%= paginate @articles %>
</p>

<% @articles.each do |article| %>

        <%= render 'shared/article', element: article, details: {} %>

<% end %>

<%= paginate @articles %>
<%#= will_paginate @articles %>


