
<p>
<%= link_to 'All Articles', articles_path, class: 'btn btn-primary'%>
</p>

<%= render 'shared/article', details: {} %>

<p>Add comment to this article:</p>
<%= form_for([@article, @article.comments.build]) do |f| %>
        <form>
                <div class="form-group">
                        <label for="exampleInputEmail1" class="form-text text-info">Your comment text:</label>

                        <!-- TODO:   MAKE TEXTAREA LOOK GOOD   &&&&  COMMENTS below make in shadows (or other blocks with shadows)  !!!!!!!! -->

                        <div class="form-group ">
                                <!--                                <textarea class="form-control shadow" id="exampleFormControlTextarea4" rows="3"></textarea>-->
                                <%= f.text_area :body, class: 'form-control bg-info shadow' %>
                        </div>
                </div>

                <button type="submit" class="btn btn-primary">Publish comment</button>
        </form>

<% end %>




