<<<<<<< HEAD
// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
=======
// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.highlight_results em {
  background-color: yellow;
  font-style: normal;
  font-weight: bold;
}
>>>>>>> feature/searchKick
